#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#login-button {
    width: 354px;
    display: flex;
    justify-content: end;
}

button {
    width: 225px;
}

.button-active {
    background-color: #BB000E;
}

.title {
    padding: 45px 0px;
}
